<template name='adminHeader'>
    <div class="headerWrapper adminHeader basicHeader">
        <div class="headerContainer">

            <div class="adminMenu">
                <ul>
                    <li><a href="/admin/manage-users">Manage users</a></li>
                    <li><a href="/admin/manage-projects">Manage projects</a></li>
                    <li><a href="/admin/answers">Answers</a></li>
                    <!--<li><a href="/messages">Messages</a></li>-->
                </ul>
            </div>

            {{> logout}}
        </div>
    </div>
</template>
